@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="MainPicture">
    <img src="~/images/newlogo.png" alt="Loot and Lute logo" class="text-center">
</div>

<div class="frontPictures">
    <nav>
        <ul>
            <li>
                <a asp-page="./Games/Detail" asp-route-gameId="1"> <img src="~/images/puppyicon.png" alt="Potions and Puppies Thumbnail"></a>
            </li>
            <li>
                <a asp-page="./Games/Detail" asp-route-gameId="2"> <img src="~/images/caticon.png" alt="Appuritions Thumbnail"></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCrHzlMfio8KsSEoIDIp9WBg"><img src="~/images/youtube.jpg" alt="Loot and Lute logo"></a>
            </li>
        </ul>
     </nav>
</div>




@*<div class="floatLeft30">

</div>
<div class="floatRight30">
    <div id="slider">
        <div>
            <a href="/Games"><img src="~/images/puppyicon.png" alt="Loot and Lute logo"></a>
        </div>
        <div>
            <a href="/Games"><img src="~/images/caticon.png" alt="Loot and Lute logo"></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCrHzlMfio8KsSEoIDIp9WBg"><img src="~/images/youtube.jpg" alt="Loot and Lute logo"></a>
        </div>
    </div>
</div>

</div>
@section scripts{
    <script>
    $("#slider > div:gt(0)").hide();
    $("#slider").height($("#slider > div > img").height());
    setInterval(function () {
        $('#slider > div:first')
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo('#slider');
    }, 3000);
    </script>
}*@
