/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.MainPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
}